@use '../variables/colours'

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"

@font-face
    font-family: "Poppins"
    src: url("../../fonts/Poppins-Font-2/Poppins-Regular.ttf")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Poppins"
    src: url("../../fonts/Poppins-Font-2/Poppins-Bold.ttf")
    font-weight: 700
    font-style: normal

@font-face
    font-family: "Poppins"
    src: url("../../fonts/Poppins-Font-2/Poppins-Light.ttf")
    font-weight: 300
    font-style: normal

@font-face
    font-family: "Poppins"
    src: url("../../fonts/Poppins-Font-2/Poppins-Medium.ttf")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Poppins"
    src: url("../../fonts/Poppins-Font-2/Poppins-SemiBold.ttf")
    font-weight: 600
    font-style: normal


body
    font-family: 'Poppins', sans-serif

