{% if current_user.is_authenticated %}

    <div id="account-container" class="columns is-vcentered">
        <div class="column">
            <span class="icon is-large">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fas fa-bell fa-stack-1x"></i>
                </span>
            </span>
        </div>
        <div class="column is-narrow account-user-details">
            <div>Hello, <span style="font-weight: 700">{{ current_user.first_name }}</span></div>
            <div>{{ current_user.role }}</div>
        </div>
        <div class="column is-narrow account-profile-picture">
            <img src="{{ current_user.twitter_profile_image }}" alt="Profile picture">
        </div>
    </div>
{% endif %}
