{% if session.get('twitter_handle') and session.get('twitter_profile_image') %}

    <div id="account-container" class="columns is-vcentered mb-0">
        <div class="column">
            <span id="notification-icon" class="icon is-large">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fas fa-bell fa-stack-1x"></i>
                </span>
            </span>
        </div>
        <div class="column is-narrow account-user-details">
            <div>Hello, <span style="font-weight: 700">{{ session.get('twitter_handle') }}</span></div>
            <div>Super Admin</div>
        </div>
        <div class="column is-narrow account-profile-picture">
            <img src="{{ session.get('twitter_profile_image') }}" alt="Profile picture">
        </div>
    </div>

    <style>
        #notification-icon {
            position: relative;
        }

        #notification-icon::after {
            position: absolute;
            right: -7px;
            top: 0;
            content: "12";
            color: white;
            font-size: 14px;
            text-align: center;
            vertical-align: middle;
            background-color: #1BA2F3;
            border-radius: 100%;
            height: 22px;
            width: 22px;
            box-shadow: 1px 2px 5px rgba(1, 102, 166, 0.53);
        }
    </style>

{% endif %}
