<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tweet Vista</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/base.css') }}">

    {% block head %}
    {% endblock %}

</head>
<body>

    {% if not current_user.is_authenticated %}
        <input type="hidden" value="signup-step-1" id="start-step">
        {% include 'objects/auth/signup_modal.html' %}
    {% elif not current_user.onboarded %}
        {% if not session['twitter_connected'] %} <!-- TODO currently checking if connected twitter is in session. Really should be checking if the we have a VALID oauth token on api side. Maybe ask for an endpoint that check if a users tokens are valid -->
            <input type="hidden" value="signup-step-2" id="start-step">
        {% elif not current_user.business_information_provided %}
            <input type="hidden" value="signup-step-3" id="start-step">
        {% endif %}
        {% include 'objects/auth/signup_modal.html' %}
    {% endif %}

    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</body>
</html>
