<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tweet Vista</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <script src="https://kit.fontawesome.com/66d5817b83.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/base.css') }}">

    <link rel="icon" type="image/x-icon" href="https://ouch-cdn2.icons8.com/2P3O-8skTDXxBRU-TQNsPXpt0sbXpL3q41Edi0w1zcI/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNTEz/LzkxZDMwZmI5LTEz/MTktNDdiNS1iNTZl/LTc3NjYyNDYxOTE5/NC5wbmc.png">

    {% block head %}
    {% endblock %}

</head>
<body>

{#    {% if session.get('wc') %}  <!-- TODO This also is not an effective system. It's possible to have a WebConnection object saved in session, but -->#}
{#        <input type="hidden" value="signup-step-1" id="start-step">#}
{#        {% include 'objects/auth/signup_modal.html' %}#}
{#    {% elif not current_user.onboarded %}#}
{#        {% if not session['twitter_connected'] %} <!-- TODO currently checking if connected twitter is in session. Really should be checking if the we have a VALID oauth token on api side. Maybe ask for an endpoint that check if a users tokens are valid -->#}
{#            <input type="hidden" value="signup-step-2" id="start-step">#}
{#        {% elif not current_user.business_information_provided %}#}
{#            <input type="hidden" value="signup-step-3" id="start-step">#}
{#        {% endif %}#}
{#        {% include 'objects/auth/signup_modal.html' %}#}
{#    {% endif %}#}

    {% include 'objects/auth/signup_modal.html' %}

    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <script>
        {% include 'js/check_user_logged_in.js' %}
        {% include 'js/create_link.js' %}
    </script>

</body>
</html>
