<div id="side-menu-container">
    <div id="site-logo">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/containership-logo-png-transparent.png" alt="Website logo">
    </div>
    <div id="side-menu-items-container" class="has-text-left">
        <div class="side-menu-item" style="pointer-events: none">
            <div><a></a></div>
        </div>
        <div class="side-menu-item">
            <div><a href="{{ url_for('dashboard.main') }}">Dashboard</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>My Twitter</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>Research</a></div>
        </div>
        <div class="side-menu-item">
            <div><a href="{{ url_for('campaigns.main') }}">Campaigns</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>Tracking</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>Competitors</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>Publishing</a></div>
        </div>
        <div class="side-menu-item">
            <div><a>Reports</a></div>
        </div><div class="side-menu-item">
            <div><a href="{{ url_for('tweet_locker.main') }}" >Tweet Locker</a></div>
        </div>
    </div>
</div>

<script>
    const menuItems = document.querySelectorAll(".side-menu-item");
    const currentPage = window.location.href

    console.log('Current page:', currentPage)

    for (let i = 0; i < menuItems.length; i++) {
        let pageLink = menuItems[i].children[0].children[0]['href']
        console.log('PAGELINK:', pageLink)
        if (pageLink && currentPage.includes(pageLink)) {
            menuItems[i].classList.add('is-active')
            if (i > 0) menuItems[i - 1].classList.add('is-above-active')
            if (i < menuItems.length) menuItems[i + 1].classList.add('is-below-active')
        }
        menuItems[i].addEventListener("click", function() {
            let active = document.getElementsByClassName('is-active')
            for (let i = 0; i < active.length; i++) {
                active[i].classList.remove('is-active')
            }
            let belowActive = document.getElementsByClassName('is-below-active')
            for (let i = 0; i < belowActive.length; i++) {
                belowActive[i].classList.remove('is-below-active')
            }
            let aboveActive = document.getElementsByClassName('is-above-active')
            for (let i = 0; i < aboveActive.length; i++) {
                aboveActive[i].classList.remove('is-above-active')
            }
            menuItems[i].classList.add('is-active')
            if (i - 1 >= 0) {
                menuItems[i - 1].classList.add('is-above-active')
            }
            if (i + 1 <= menuItems.length) {
                menuItems[i + 1].classList.add('is-below-active')
            }
        })
    }
</script>