$white: #fff
$black: #black
$deep-purple: #290A5A
$electric-blue: #1BA2F3
$light-grey: #E1E6EC
$bright-orange: #F07F23
$hot-pink: rgba(224, 24, 105, 0.73)
$mid-grey: #8E8E8E
$background-grey: #EFF0F2
$lilac: #485fc7
