@use "sass:color"

$white: #fff
$black: black
$deep-purple: #290A5A
$electric-blue: #20aaeb
$light-grey: #E1E6EC
$bright-orange: #F07F23
$hot-pink: rgba(224, 24, 105, 0.73)
$mid-grey: #8E8E8E
$background-grey: #EFF0F2
$lilac: #485fc7

.is-white
    color: $white

.is-black
    color: $black

.is-electric-blue
    color: $electric-blue
    //&:hover
    //    color: color.adjust($electric-blue, $lightness: 20%)

.is-deep-purple
    color: $deep-purple !important
    &:hover
        color: color.adjust($deep-purple, $lightness: 20%) !important

.is-hot-pink
    color: $hot-pink !important

.is-bright-orange
    color: $bright-orange !important


// Border colours

.border-is-electric-blue
    border: 2px solid $electric-blue !important
    border-radius: 10px !important

.border-is-light-grey
    border: 2px solid $light-grey !important
    border-radius: 10px !important

// Background colours

.bg-is-white
    background-color: $white

.bg-is-electric-blue
    background-color: $electric-blue

.bg-is-light-grey
    background-color: $light-grey

// Button colours

.button

    &.is-electric-blue
        background-color: $electric-blue
        color: $white
        border-color: color.adjust($electric-blue, $saturation: 100%, $lightness: 10%)

        &.is-light
            color: color.adjust($electric-blue, $saturation: 100%, $lightness: 20%)
            background-color: color.adjust($electric-blue, $saturation: 100%, $lightness: 40%)
            border-color: color.adjust($electric-blue, $saturation: 100%, $lightness: 10%)

        &:hover
            color: color.adjust($electric-blue, $saturation: 100%, $lightness: 20%)
            background-color: color.adjust($electric-blue, $saturation: 100%, $lightness: 40%)
            border-color: color.adjust($electric-blue, $saturation: 100%, $lightness: 10%)

