{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">#}
{#<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">#}
{#<link rel="stylesheet" href="/app/static/styles/layouts/base.css">#}

<div id="signup-modal" class="modal is-active">

    <div class="modal-background"></div>

    <div class="modal-card">

        <!-- Step 1 -->
        <section id="signup-step-1" class="modal-card-body signup-step hidden" data-next-step="signup-step-2">

            <form>
                <div class="has-text-centered mt-4 mb-6">
                    <h2 class="title is-size-3 has-text-weight-medium mb-2">Start your free 30 day trial</h2>
                    <span class="subtitle" style="font-weight: lighter;">No credit card required</span>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" name="first-name" placeholder="First name" required>
                            <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="control has-icons-right">
                            <input class="input" type="text" name="last-name" placeholder="Last name" required>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" name="company-name" placeholder="Company name">
                            <span class="icon is-small is-left">
                            <i class="fa fa-building"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email-address" placeholder="Email address" autocomplete="username" required>
                            <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                            <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="has-text-centered mb-4 mt-4">
                    <button type="button" class="button is-electric-blue" onClick="createAccount(this);">Create Account</button>
                </div>

                <div class="has-text-centered">
                    <a class="is-electric-blue has-text-centered" onclick="stepTransition(this, 'signup-step-1-login')">Already have an account?</a>
                </div>

                <p class="is-size-6 mt-5 has-text-centered">
                    By clicking 'Create Account', I agree to Tweet Vista's <a>Terms of Service</a> and acknowledge its <a>Privacy Policy</a>
                </p>

            </form>

            <script>

                function createAccount(elem) {
                    // This function creates an account in database via an api endpoint call.
                    let formFields = elem.form.elements
                    if (checkFormValidity(formFields)) {
                        elem.classList.add('is-loading', 'is-light');  // Button loading formatting
                        fetch('{{ url_for('api_auth.signup') }}', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'},
                            body: JSON.stringify({
                                'first_name': formFields["first-name"].value,
                                'last_name': formFields["last-name"].value,
                                'company_name': formFields["company-name"].value,
                                'email_address': formFields["email-address"].value,
                                'password': formFields["password"].value})  {# TODO consider implications of sending password unencrypted between client and server #}
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data['success']) {
                                    console.log(data['message'])
                                    stepTransition(elem)
                                } else {
                                    alert(data['message'])
                                    elem.classList.remove('is-loading', 'is-light');  // Button formatting
                                }
                            });
                    }
                }

                function checkFormValidity(formFields) {
                    let formValid = true
                    for (let field = 0; field < formFields.length; field++) {
                        if (formFields[field].tagName === 'INPUT' && formFields[field].checkValidity() === false) {
                            formValid = false
                            alert('Please complete all required fields.')
                            break
                        }
                    }
                    return formValid
                }


            </script>

        </section>

        <!-- Step 1 - Login -->
        <section id="signup-step-1-login" class="modal-card-body signup-step hidden" data-next-step="signup-step-2">

            <form>
                <div class="has-text-centered mt-4 mb-6">
                    <h2 class="title is-size-3 has-text-weight-medium mb-2">Welcome back!</h2>
                    <span class="subtitle" style="font-weight: lighter;">Log in to pick up where you left off</span>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email-address" placeholder="Email address" autocomplete="username" required>
                            <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                            <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                            <span class="icon is-small is-right check">
                            <i class="fa fa-check"></i>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="has-text-centered mb-4 mt-4">
                    <button type="button" class="button is-electric-blue" onclick="loginToAccount(this);">Login</button>
                </div>

                <div class="has-text-centered">
                    <a class="is-electric-blue has-text-centered" onclick="stepTransition(this, 'signup-step-1')">Create an account</a>
                </div>

            </form>

            <script>
                function loginToAccount(elem) {
                    // This function creates an account in database via an api endpoint call.
                    let formFields = elem.form.elements
                    if (checkFormValidity(formFields)) {
                        elem.classList.add('is-loading', 'is-light');  // Button loading formatting
                        fetch('{{ url_for('api_auth.login') }}', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'},
                            body: JSON.stringify({
                                'email_address': formFields["email-address"].value,
                                'password': formFields["password"].value})
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data['success']) {
                                    console.log(data['message'])
                                    stepTransition(elem)
                                } else {
                                    alert(data['message'])
                                    elem.classList.remove('is-loading', 'is-light');  // Button formatting
                                }
                            });
                    }
                }
            </script>

        </section>

        <!-- Step 2 -->
        <section id="signup-step-2" class="modal-card-body signup-step hidden" data-next-step="signup-step-3">

            <!-- These block displays the current progress -->
            <div class="mb-2 is-size-7"><span class="is-electric-blue has-text-weight-bold">Step 2</span> Get Connected</div>
            <div class="columns is-gapless mb-0 is-mobile">
                <div class="column mr-1">
                    <hr class="step-line bg-is-electric-blue">
                </div>
                <div class="column ml-1 mr-1">
                    <hr class="step-line bg-is-electric-blue">
                </div>
                <div class="column ml-1 mr-1">
                    <hr class="step-line">
                </div>
                <div class="column ml-1">
                    <hr class="step-line">
                </div>
            </div>

            <style>
                .step-line {
                    height: 3px;
                    margin: 0;
                }
            </style>

            <!-- Part 1 - Connect account -->
            <div id="connect-twitter-account">

                <div class="has-text-centered mt-6 mb-3">
                    <h2 class="title is-size-3 has-text-weight-medium mb-2">Connect Your Twitter Account</h2>
                    <span style="font-weight: lighter;">To get started using Tweet Vista simply connect your Twitter Profile</span>
                </div>

                <div class="has-text-centered mb-4 mt-5">
                    <button type="submit" class="button is-electric-blue" onClick="this.classList.add('is-loading', 'is-light'); authoriseTwitterAccount(this);">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span>Connect Account</span>
                    </button>
                </div>

            </div>

            <!-- Part 2 - Confirmation -->
            <div id="you-are-now-connected" class="has-text-left" hidden>

                <div class="mt-6 mb-4">
                    <h2 class="title is-size-3 has-text-weight-medium mb-2">Great you are now connected</h2>
                </div>

                <div id="connected-account" class="mb-4 columns is-gapless is-vcentered">
                    <div class="column is-narrow">
                        <img class="mr-2" src="" alt="Profile picture">
                    </div>
                    <div class="column">
                        <span class="is-size-4">No user</span>
                    </div>
                </div>

                <span style="font-weight: lighter;">Your Twitter Profile is now connected, you are now ready to finish setting up your Tweet Vista account.</span>

                <style>
                    #connected-account > div {
                        max-height: 40px;
                    }
                    #connected-account > div > img {
                        margin: 0;
                        object-fit: cover;
                        width: 40px;
                        height: 40px;
                        border-radius: 10px;
                    }
                </style>

                <div class="has-text-right mt-4">
                    <button type="submit" class="button is-electric-blue" onClick="stepTransition(this);">Next</button>
                </div>

            </div>

            <script>
                function displayConnectedProfile(data) {

                    let profileImage = document.querySelector('#connected-account > div:nth-child(1) > img')
                    profileImage.src = data['profileImage']

                    let profileName = document.querySelector('#connected-account > div:nth-child(2) > span')
                    profileName.innerHTML = '@' + data['handle']

                    document.getElementById('connect-twitter-account').hidden = true
                    document.getElementById('you-are-now-connected').hidden = false
                }
            </script>

            <script>
                    function authoriseTwitterAccount(elem) {
                        fetch('{{ url_for('authorise_account') }}')
                            .then((response) => response.json())
                            .then((data) => {

                                if (data) {

                                    window.name = "tweetVistaMainWindow";
                                    const popup = window.open(data, "twitterAuthPopup", "popup=true, width=1000, height=500, top=100, left=100")

                                    let interval = 1000
                                    let checkPopupSuccess = setInterval(function () {
                                        fetch('{{ url_for('check_if_twitter_authorised') }}')
                                            .then((response) => response.json())
                                            .then(async (data) => {
                                                if (data) {
                                                    clearInterval(checkPopupSuccess)
                                                    console.log('Popup closed by user.')
                                                    popup.close()
                                                    displayConnectedProfile(data)
                                                } else if (popup.closed) {
                                                    clearInterval(checkPopupSuccess)
                                                    console.log('Popup closed by user.')
                                                    elem.classList.remove('is-loading', 'is-light')
                                                }
                                            })
                                    }, interval)

                                } else {
                                    alert('Failed to connect to twitter. Please try again later.')
                                }

                            })
                    }
            </script>

        </section>

        <!-- Step 3 -->
        <section id="signup-step-3" class="modal-card-body signup-step hidden" data-next-step="none">

            <!-- These block displays the current progress -->
            <div class="mb-2 is-size-7"><span class="is-electric-blue has-text-weight-bold">Step 3</span> Customize your platform</div>
            <div class="columns is-gapless mb-0 is-mobile">
                <div class="column mr-1">
                    <hr class="step-line bg-is-electric-blue">
                </div>
                <div class="column ml-1 mr-1">
                    <hr class="step-line bg-is-electric-blue">
                </div>
                <div class="column ml-1 mr-1">
                    <hr class="step-line bg-is-electric-blue">
                </div>
                <div class="column ml-1">
                    <hr class="step-line">
                </div>
            </div>

            <style>
                .step-line {
                    height: 3px;
                    margin: 0;
                }
            </style>

            <!-- Customise your platform -->
            <form method="post" action="#">

                <div class="has-text-left mt-4 mb-5">
                    <h2 class="title is-size-3 has-text-weight-medium mb-2">You are almost ready to get started!</h2>
                    <span style="font-weight: lighter;">The details below allow us to customize the platform for you and once you click complete setup you will have the full Tweet Vista Platform at your fingertips</span>
                </div>

                <div class="columns is-multiline">
                    <div class="column is-half">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" name="role_in_company" placeholder="I will use as...">
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="icon is-small is-right check">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="number" name="company_size" placeholder="Aprox. no. users">
                            <span class="icon is-small is-left">
                                <i class="fa fa-users"></i>
                            </span>
                            <span class="icon is-small is-right check">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" name="company_name" placeholder="Company name">
                            <span class="icon is-small is-left">
                                <i class="fa fa-building"></i>
                            </span>
                            <span class="icon is-small is-right check">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="has-text-right mt-4">
                    <button type="button" class="button is-electric-blue" onclick="submitBusinessDetails(this)">Get Started</button>
                </div>

                <script>
                    function submitBusinessDetails(elem) {
                        let formFields = elem.form.elements
                        if (checkFormValidity(formFields)) {
                            elem.classList.add('is-loading', 'is-light');  // Button loading formatting
                            fetch('{{ url_for('api_auth.store_business_details') }}', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    'company_name': formFields["company_name"].value,
                                    'company_size': formFields["company_size"].value,
                                    'role_in_company': formFields["role_in_company"].value
                                })
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    if (data['success']) {
                                        console.log(data['message'])
                                        stepTransition(elem)
                                    } else {
                                        alert(data['message'])
                                        elem.classList.remove('is-loading', 'is-light');  // Button formatting
                                    }
                                })
                    }

                    function checkFormValidity(formFields) {
                        let formValid = true
                        for (let field = 0; field < formFields.length; field++) {
                            if (formFields[field].tagName === 'INPUT' && formFields[field].checkValidity() === false) {
                                formValid = false
                                alert('Please complete all required fields.')
                                break
                            }
                        }
                        return formValid
                    }
                    }
                </script>

            </form>

        </section>

    </div>

</div id>

<style>

    .signup-step {
        display: initial;
    }

    .signup-step.hidden {
        display: none;
    }


    .modal-card {
        border-radius: 10px;
        border: #dedede 2px outset;
        background-color: white;
    }

    .modal-card-body {
        padding: 75px 50px;
    }

    .input:focus {
        border-color: initial;
    }

    span.check {
        visibility: hidden;
    }

    .complete > input {
        border-color: rgba(27, 162, 243, 0.73);
        color: rgba(27, 162, 243, 0.73);
        background-color: rgba(27, 162, 243, 0.13);
    }

    .complete > span {
        color: rgba(27, 162, 243, 0.73) !important;
    }

    .complete > span.check {
        visibility: visible !important;
    }
</style>

<script>
    // This script shows whether a field has been completed
    document.querySelectorAll('input').forEach(e => {
      e.addEventListener('input', setInputBackground)
    });

    function setInputBackground() {
        if (this.checkValidity()) {
            this.parentNode.classList.add('complete')
        } else {
            this.parentNode.classList.remove('complete')
        }
    }
</script>

<script>
    // This script handles the transitioning between each step of the signup sequence
    function stepTransition(elem = undefined, nextStepId = undefined) {
        if (elem != undefined) {
            while (elem.classList.contains('signup-step') !== true) {
                elem = elem.parentNode
            }

            elem.classList.add('hidden')  // Hiding the old step

            if (nextStepId === undefined) {
                nextStepId = elem.getAttribute('data-next-step')
            }
        }

        if (nextStepId === 'none') {
            document.getElementById('signup-modal').classList.remove('is-active')
            window.location.href = '{{ url_for('index') }}'
        }

        let nextStepElem = document.getElementById(nextStepId)
        nextStepElem.classList.remove('hidden')  // Revealing the next step
    }
</script>

<script>
    // This script loads the first step
    let startStep = document.getElementById('start-step').value
    stepTransition(undefined, startStep)
</script>