@use '../variables/colours'

#tweet-wall

    columns: 300px
    column-gap: 0.5rem

.campaign-section

    background-color: colours.$white
    border-radius: 10px
    padding: 50px

    table
        width: 100%
        thead > tr > th
            color: colours.$electric-blue


.campaign-filter-field
    box-shadow: #87878721 0 10px 5px 2px
