@use '../layouts/base.sass'
@use '../variables/colours'



#side-menu
    max-width: 200px
    min-height: 100vh
    padding-right: 0
    padding-bottom: 0

main
    background-color: colours.$background-grey