<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <title>Landing Page</title>

</head>
<body>
<h1>Landing Pages</h1>
<div>
    {% include "includes/messages.html" %}
</div>
<br>
<a class="btn btn-outline-primary" href="{%  url 'user-logout' %}">Logout</a>
<br><br><br>
<a class="btn btn-outline-primary" href="{%  url 'auth-twitter-account' %}">Authorise twitter account</a>
<script src="/static/assets/plugins/jquery/js/jquery.min.js"></script>
<script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
