{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/campaign_dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/objects/feed_filters/tweet_score_slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/campaigns.css') }}">
{% endblock %}

{% block body %}

    <div class="columns is-desktop">

        <nav id="side-menu" class="column is-3">
            {% include 'layouts/side_menu.html' %}
        </nav>

        <main class="column p-6">

            <div class="box is-shadowless">

                <div class="columns has-text-centered p-5">

                    <div class="column is-narrow">
                        <div id="gauge-container" style="position: relative; width: 170px; height: 170px">
                            <canvas style="position: absolute; left: 0" id="score-gauge-background" width="170px" height="170px"></canvas>
                            <canvas style="position: absolute; left: 0; rotate: -90deg" id="score-gauge" width="170px" height="170px"></canvas>
                            <div>
                                <p>574</p>
                                <p>Out of 975</p>
                            </div>
                        </div>
                        <script>

                            let canvas = document.getElementById('score-gauge-background');
                            let lineWidth = 20
                            let x = canvas.width / 2;
                            let y = canvas.height / 2;
                            let radius = (canvas.width / 2) - lineWidth / 2;

                            // Score ring
                            let scoreRing = canvas.getContext('2d');
                            scoreRing.beginPath();
                            scoreRing.arc(x, y, radius,  0, 2 * Math.PI);
                            scoreRing.lineWidth = lineWidth;
                            scoreRing.strokeStyle = '#e5e8ee';
                            scoreRing.stroke();

                            function setupScoreGauge(twitterScore) {
                                let percentage = twitterScore / 975

                                let canvas = document.getElementById('score-gauge');
                                let lineWidth = 20
                                let x = canvas.width / 2;
                                let y = canvas.height / 2;
                                let radius = (canvas.width / 2) - lineWidth / 2;

                                // Score ring
                                let scoreRing = canvas.getContext('2d');
                                scoreRing.beginPath();
                                scoreRing.arc(x, y, radius,  0, percentage * 2 * Math.PI);
                                scoreRing.lineWidth = lineWidth;
                                scoreRing.strokeStyle = '#fb4a02';
                                scoreRing.lineCap = "round"
                                scoreRing.stroke();
                            }

                            setupScoreGauge(900)
                        </script>
                    </div>

                    <div class="column">
                        Two
                    </div>

                    <div class="column is-half">
                        Three
                    </div>
                </div>

            </div>

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box is-shadowless">
                        <p class="subtitle is-deep-purple mb-1"><span class="is-bright-orange">#</span>FollowList</p>
                        <p class="is-size-7 has-text-grey-light">Based on your TweetScore our algorithm creates a list of #WhoToFollow and Who to UnFollow</p>
                    </div>
                    <div class="tile is-child box is-shadowless">
                        <p class="subtitle is-deep-purple mb-1"><span class="is-bright-orange">#</span>MyFollowers</p>
                        <p class="is-size-7 has-text-grey-light">Based on your TweetScore our algorithm creates a list of #WhoToFollow and Who to UnFollow</p>
                    </div>
                </div>

                <div class="tile is-parent">
                    <div class="tile is-child box is-shadowless">
                        <p class="subtitle is-deep-purple mb-0"><span class="is-bright-orange">#</span>MyTwitter</p>
                    </div>
                </div>
            </div>

        </main>

    </div>

{% endblock %}