{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/campaign_dropdowns.css') }}">
{% endblock %}

{% block body %}

    {% if not current_user.is_authenticated %}
        {% include 'objects/auth/signup_modal.html' %}
    {% elif not current_user.onboarded %}
        {% if not current_user.twitter_connected %}
            <input type="hidden" value="signup-step-2" id="start-step">
        {% elif not current_user.business_information_provided %}
            <input type="hidden" value="signup-step-3" id="start-step">
        {% endif %}
        {% include 'objects/auth/signup_modal.html' %}
    {% endif %}

    <div class="columns is-desktop">

        <nav id="side-menu" class="column is-3">
            {% include 'layouts/side_menu.html' %}
        </nav>

        <main class="column">

            <header class="columns is-vcentered">

                <div id="tweet-wall-controls" class="column">
                    {# include 'layouts/filter_control.html' #}
                    {% from 'objects/campaign_selection.html' import campaign_selection_macro %}
                    {{ campaign_selection_macro(campaigns) }}
                </div>

                <div id="account" class="column is-narrow">
                    {% include 'layouts/account.html' %}
                </div>

            </header>

            <div id="tweet-wall-results">
                {% include 'layouts/tweet_masonry_display.html' %}
            </div>

        </main>

    </div>

{% endblock %}