{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tweet_wall/tweet_wall.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='stylesheets/tweet_wall/tweet.css') }}">
{% endblock %}

{% block body %}
    {# Construct all the pieces of the page here #}

    <div class="columns is-desktop">

        <nav class="column is-3">
            {# include 'layouts/side_menu.html' #}
        </nav>

        <main class="column">

            <header>
                {# include 'layouts/account_bar.html' #}
            </header>

            <div>
                {# include 'layouts/filter_control.html' #}
            </div>

            <div>
                {% include 'layouts/tweet_wall.html' %}
            </div>

        </main>

    </div>

{% endblock %}