{% macro campaign_selection_macro(all_campaigns, selected_campaign) %}

    <form action="#" method="post">

        <div class="columns is-desktop is-vcentered is-variable is-1-desktop is-hidden">

            <div class="column">
                <div class="select">
                    <select class="border-is-electric-blue is-hot-pink">
                        {% if all_campaigns %}
                            <option value="" disabled selected hidden>Select Client</option>
                            {% for campaign in all_campaigns %}
                                <option>{{ campaign['name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="column is-hidden-tablet-only">
                <span class="icon is-electric-blue">
                    <i class="fas fa-angle-double-right"></i>
                </span>
            </div>

            <div class="column">
                <div class="select">
                    <select required class="border-is-electric-blue is-hot-pink" name="campaign-selection">
                        {% if all_campaigns %}
                            <option value="" disabled selected hidden>Select Campaign</option>
                            {% for campaign in all_campaigns %}
                                <option value="{{ campaign['id'] }}" {% if campaign['id'] == selected_campaign %}selected{% endif %}>{{ campaign['name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="column">
                <button class="button is-electric-blue has-text-weight-bold" type="submit" style="border-radius: 10px; border-width: 2px;">GO</button>
            </div>
        </div>
    </form>
{% endmacro %}