{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">#}
{#<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">#}
{#<link rel="stylesheet" href="/app/static/styles/layouts/base.css">#}

{% macro pagination_bar() %}
    <nav class="pagination is-rounded has-shadow" style="position: fixed; bottom: 30px; margin-bottom: 0; padding: 10px; border-radius: 20px; background: #c0c0c0" role="navigation" aria-label="pagination">
        <a class="pagination-previous" onclick="nextPage = nextPage - 2; getOldTweets()">Previous</a>
        <a class="pagination-next" onclick="getOldTweets();">Next page</a>
        <ul class="pagination-list">
        </ul>
    </nav>
    <script>
        let paginationList = document.getElementsByClassName('pagination-list')[0]
        function setupPages(numPages, currentPage) {
            removePages()
            if (numPages < 6) {
                for (let i = 1; i <= numPages; i++) {
                    addPage(i, i === currentPage)
                }
            } else {
                if (currentPage <= 3) {
                    for (let i = 1; i < 5; i++) {
                        addPage(i, i===currentPage)
                    }
                    addEllipses()
                    addPage(numPages)
                } else if (currentPage > numPages - 3) {
                    addPage(1)
                    addEllipses()
                    for (let i = numPages - 3; i <= numPages; i++) {
                        addPage(i, i===currentPage)
                    }
                } else {
                    addPage(1)
                    addEllipses()
                    addPage(currentPage - 1)
                    addPage(currentPage, true)
                    addPage(currentPage + 1)
                    addEllipses()
                    addPage(numPages)
                }
            }
        }
        function addPage(pageNumber, current = false) {
            let newElement = document.createElement('li')
            newElement.innerHTML = `<a class="pagination-link ${current ? 'is-current' : ''}" aria-label="Goto page ${pageNumber}" onclick="nextPage=${pageNumber}; getOldTweets()">${pageNumber}</a>`
            paginationList.appendChild(newElement)
        }
        function removePages() {
            paginationList.replaceChildren()
        }
        function addEllipses() {
            let newElement = document.createElement('li')
            newElement.innerHTML = `<li><span class="pagination-ellipsis" style="color: #1c1c1c;">&hellip;</span></li>`
            paginationList.appendChild(newElement)
        }
    </script>
{% endmacro %}