<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
<link rel="stylesheet" href="/app/static/styles/layouts/base.css">

<script>
    keywords = ['snow', 'santa']
    startScore = 400
    endScore = 700
    let startDate = '2022-12-11'
    let endDate = '2022-12-14'
</script>

{% macro filter_summary(campaign_name) %}
    <div class="mb-5">
        <h2 class="campaign-title title is-bright-orange mb-2 is-size-5">{{ campaign_name }}</h2>
        <p>
            <span id="active-keywords-summary" class="summary-bar-section is-hidden mr-1">
                <span class="is-hot-pink">Keywords:</span>
                <span>

                </span>
            </span>

            <span id="active-tweet-score-summary" class="summary-bar-section is-hidden mr-1">
                <span class="is-hot-pink">Tweet Score:</span>
                <span>

                </span>
            </span>

            <span id="active-date-range-summary" class="summary-bar-section is-hidden mr-1">
                <span class="is-hot-pink">Date Range:</span>
                <span>

                </span>
            </span>
        </p>
    </div>
    <script>
        let activeKeywordSummary = document.getElementById('active-keywords-summary')
        let activeTweetScoreSummary = document.getElementById('active-tweet-score-summary')
        let activeDateRangeSummary = document.getElementById('active-date-range-summary')
        let startDateFormatted, endDateFormatted

        function setupFilterSummary() {
            activeKeywordSummary.lastElementChild.replaceChildren()
            activeTweetScoreSummary.lastElementChild.replaceChildren()
            activeDateRangeSummary.lastElementChild.replaceChildren()
            addKeywordsToSummary()
            addTweetScoreFilterToSummary()
            addDateRangeSummary()
        }

        function addKeywordsToSummary() {
            if (keywords.length > 0) {
                activeKeywordSummary.classList.remove('is-hidden')
            } else {
                activeKeywordSummary.classList.add('is-hidden')
            }
            let activeKeywordsBox = activeKeywordSummary.lastElementChild
            for (let i = 0; i < keywords.length; i++) {
                activeKeywordsBox.innerHTML += `
                    <span class="icon-text">
                        <span>${keywords[i]}</span>
                        <span class="icon is-clickable" onclick="removeKeyword(this)">
                            <i class="fas fa-times has-text-grey-light"></i>
                        </span>
                    </span>`
            }
        }

        function addTweetScoreFilterToSummary() {
            if ((startScore !== 0 && startScore !== undefined) || (endScore !== 700 && endScore !== undefined)) {
                activeTweetScoreSummary.classList.remove('is-hidden')
            } else {
                activeTweetScoreSummary.classList.add('is-hidden')
            }
            activeTweetScoreSummary.lastElementChild.innerHTML += `
                <span class="icon-text">
                    <span>${startScore} - ${endScore}</span>
                    <span class="icon is-clickable" onclick="removeTSFilterViaSummary(this)">
                        <i class="fas fa-times has-text-grey-light"></i>
                    </span>
                </span>`
        }

        function addDateRangeSummary() {
            if (startDate || endDate) {
                if (startDate) {
                    startDateFormatted = startDate.split('-')
                    startDateFormatted.reverse()
                    startDateFormatted = startDateFormatted.join('.')
                } else {
                    startDateFormatted = 'Start'
                }

                if (endDate) {
                    endDateFormatted = endDate.split('-')
                    endDateFormatted.reverse()
                    endDateFormatted = endDateFormatted.join('.')
                } else {
                    endDateFormatted = 'Now'
                }

                activeDateRangeSummary.classList.remove('is-hidden')
                activeDateRangeSummary.lastElementChild.innerHTML = `
                <span class="icon-text">
                    <span>${startDateFormatted} - ${endDateFormatted}</span>
                    <span class="icon is-clickable" onclick="removeDateFilterViaSummary(this)">
                        <i class="fas fa-times has-text-grey-light"></i>
                    </span>
                </span>`
            } else {
                activeDateRangeSummary.classList.add('is-hidden')
            }
        }

        function removeKeyword(elem) {
            elem.parentElement.remove()
            console.log(keywords)
            keywords = keywords.filter(e => e !== elem.parentElement.firstElementChild.innerText);
            console.log(keywords)
            applyFilters(undefined, undefined, keywords)
            document.getElementById('saved-filters-dropdown-name').innerText = "Saved Filters"
        }

        function removeTSFilterViaSummary() {
            activeTweetScoreSummary.lastElementChild.replaceChildren()
            activeTweetScoreSummary.classList.add('is-hidden')
            $("#slider-range").slider({
                values: [0, 700]
            })
            document.getElementById('amount').innerText = 0 + " - " + 700
            startScore = 0
            endScore = 700
            applyFilters()
        }

        function removeDateFilterViaSummary(elem) {
            activeDateRangeSummary.lastElementChild.replaceChildren()
            activeDateRangeSummary.classList.add('is-hidden')

            startDate = undefined
            endDate = undefined

            startDateElem.value = undefined
            endDateElem.value = undefined

            applyFilters()
        }
    </script>
{% endmacro %}

<button class="button" onclick="setupFilterSummary()">Add</button>
