{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/campaign_dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/feed_filters/tweet_score_slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/campaigns.css') }}">
{% endblock %}

{% block body %}

    <form action="#" method="post">

        <div class="columns is-desktop">

            <nav id="side-menu" class="column is-3 is-hidden-touch">
                {% include 'layouts/side_menu.html' %}
            </nav>

            <main class="column" style="z-index: 0;">
                <div id="account" class="section pt-4 pb-0">
                    {% include 'layouts/account.html' %}
                </div>
                <section class="section pb-1 pt-0">
                    <div class="columns is-desktop is-multiline">
                        <div class="column is-half-desktop">
                            <div class="container is-fluid campaign-section">
                                <h2 class="title is-deep-purple">Edit Campaign</h2>

                                <div class="field">
                                    <label class="label" for="campaign-name">To get started name your Campaign</label>
                                    <div class="control">
                                        <input id="campaign-name" class="input" name="campaign-name" type="text" placeholder="Campaign Name" value="{{ campaign_data['name'] }}" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="campaign-description">Campaign Description</label>
                                    <div class="control">
                                        <textarea id="campaign-description" class="textarea" name="campaign-description" placeholder="Add a brief description of your Campaign"></textarea>
                                    </div>
                                </div>

                                <!-- date range TODO: Add date range here -->


                                <!-- Campaign type -->
                                <div class="field">
                                    <label class="label" for="campaign-type">Select Type of Campaign</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="campaign-type" name="campaign-type" required onchange="showHideAffiliateField(this);">
                                                <option value="" disabled selected hidden>Select Type</option>
                                                <option value="affiliate" {% if campaign_data['type'] == 'affiliate' %}selected{% endif %}>Affiliate Campaign</option>
                                                <option value="brand-protection" {% if campaign_data['type'] == 'brand-protection' %}selected{% endif %}>Brand Protection</option>
                                                <option value="trending" {% if campaign_data['type'] == 'trending' %}selected{% endif %}>Trending</option>
                                                <option value="profile" {% if campaign_data['type'] == 'profile' %}selected{% endif %}>Profile</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function showHideAffiliateField(elem) {
                                        document.getElementById('affiliate-details-field').hidden = elem.value !== 'affiliate'
                                        document.getElementById('affiliate-name').required = elem.value === 'affiliate'
                                        document.getElementById('affiliate-url').required = elem.value === 'affiliate'

                                        let keywordFields = document.getElementsByClassName('keyword-fields')
                                        for (let i = 0; i < keywordFields.length; i++) {
                                            keywordFields[i].hidden = elem.value === 'profile'
                                        }
                                    }
                                </script>


                                <!-- Affiliate Link Details -->
                                <div id="affiliate-details-field" class="field mt-6" hidden>
                                    <h3 class="subtitle is-deep-purple mb-1 is-size-4 has-text-weight-bold">Affiliate Link Details</h3>
                                    <p>You selected an Affiliate Campaign which needs link info.</p>
                                    <div class="border-is-light-grey p-4 mt-3">

                                        <div class="field">
                                            <label class="label" for="affiliate-name">Affiliate Name</label>
                                            <div class="control">
                                                <input id="affiliate-name" name="affiliate-name" class="input" type="text">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label" for="affiliate-url">Destination URL</label>
                                            <div class="control">
                                                <input id="affiliate-url" name="affiliate-url" class="input" type="text">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label" for="affiliate-short-url">Enter shortcode to appear as link url</label>
                                            <div class="control">
                                                <input id="affiliate-short-url" name="affiliate-short-url" class="input" type="text">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <script>
                                    {% if campaign_data['type'] == 'affiliate' %}
                                        document.getElementById('affiliate-details-field').hidden = false
                                        document.getElementById('affiliate-name').required = true
                                        document.getElementById('affiliate-url').required = true
                                    {% endif %}
                                </script>

                                {% from 'pages/campaigns/OBJ_create_campaign_keywords_field.html' import keywords_field %}

                                <!-- Positive keywords -->
                                <div class="field keyword-fields mt-6">
                                    <h3 class="subtitle is-deep-purple mb-1 is-size-4 has-text-weight-bold">Keywords</h3>
                                    <label class="label">Add Keywords to be included in your Campaign.</label>

                                    {{ keywords_field('positive-keywords-field') }}
                                </div>

                                <!-- Negative keywords -->
                                <div class="field keyword-fields mt-6">
                                    <h3 class="subtitle is-deep-purple mb-1 is-size-4 has-text-weight-bold">Negative Keywords</h3>
                                    <label class="label">Exclude Keywords, Phrases, Hashtags or Handles</label>
                                    {{ keywords_field('negative-keywords-field') }}
                                </div>

                                <script>
                                    {% include 'js/create_campaign_form/add_remove_keywords.js' %}

                                    function decode(str) {
                                        let txt = document.createElement("textarea");
                                        txt.innerHTML = str;
                                        return txt.value;
                                    }
                                    prefillKeywordFields(JSON.parse(decode("{{ keywords }}")))
                                </script>

                            </div>
                        </div>

                        <div class="column is-half-desktop">
                            <div class="container is-fluid campaign-section">

                                <h2 class="title is-deep-purple">Campaign location</h2>

                                <div class="field">
                                    <label class="label" for="campaign-location-country">Country Location - Country location of the Tweet</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="campaign-location-country" name="campaign-location-country">
                                                <option value="" disabled selected hidden>Any Country</option>
                                                {% for country_code in countries_list %}
                                                    <option value="{{ country_code }}">{{ countries_list[country_code] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="campaign-location-city">City/Town Location - Optional</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Enter Town or City" name="campaign-location-city" id="campaign-location-city">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="campaign-location-radius">Location Radius - Optional</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="campaign-location-radius" name="campaign-location-radius">
                                                <option value="10">10 Miles</option>
                                                <option value="25">25 Miles</option>
                                                <option value="50">50 Miles</option>
                                                <option value="100">100 Miles</option>
                                                <option value="200">200 Miles</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="has-text-right is-fullwidth mt-6">
                                    <button class="button is-electric-blue" type="button">Save changes</button>
                                </div>

                            </div>
                        </div>

                        <style>
                            #campaign-creation-form > div > div > div > .field {
                                margin: 20px auto;
                            }

                            label {
                                font-weight: normal !important;
                            }
                        </style>
                    </div>
                </section>
            </main>

        </div>

    </form>

{% endblock %}