{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/campaign_dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/objects/feed_filters/tweet_score_slider.css') }}">
{% endblock %}

{% block body %}

    <div class="columns is-desktop">

        <nav id="side-menu" class="column is-3">
            {% include 'layouts/side_menu.html' %}
        </nav>

        <main class="column p-6">

            <header class="columns is-gapless is-multiline">

                <div id="tweet-wall-controls" class="column is-narrow">
                    {# include 'layouts/filter_control.html' #}
                    {% from 'pages/campaigns/campaign_selection_dropdowns.html' import campaign_selection_macro %}
                    {{ campaign_selection_macro(all_campaigns, selected_campaign) }}
                </div>

                <div class="column">
                    {% from 'objects/campaign_filters.html' import campaign_filters %}
                    {{ campaign_filters() }}
                </div>

                <div class="column">
                    {% from 'objects/campaigns/live_mode_toggle.html' import live_toggle %}
                    {{ live_toggle(is_live) }}
                </div>

                <div id="account" class="column" style="margin-top: -7px;">
                    {% include 'layouts/account.html' %}
                </div>

                <div class="column is-full">

                    {% from 'objects/keyword_selection.html' import keyword_filters %}
                    {{ keyword_filters() }}

                    {% from 'objects/feed_filters/tweet_score_slider.html' import tweet_score_slider %}
                    {{ tweet_score_slider() }}

                </div>

                <script>
                    {% include 'js/feed_filters/show_hide_filters.js' %}
                </script>

            </header>

            {% if is_live %}
                <div id="loading-dots" class="container is-fluid has-text-centered" style="margin-top: -1.0rem;" hidden>
                    <img src="{{ url_for('static', filename='/images/icons/loader-three-dots.gif') }}" style="height: 30px; opacity: 0.5;">
                </div>
            {% endif %}

            <div id="tweet-wall-results">
                {% include 'layouts/tweet_masonry_display.html' %}
            </div>

        </main>

    </div>

    {% include 'js/tweet_feed/campaign_selection_dropdowns.html' %}
    {% include 'js/tweet_feed/like_unlike_tweet.html' %}

    <script>
        let campaignId = {{ selected_campaign }}

        {% include 'js/tweet_feed/tweet_locker.js' %}

        {% include 'js/tweet_feed/tweet_filter.js' %}

        {% if is_live %}
            {% include 'js/tweet_feed/get_new_tweets.js' %}
        {% else %}
            {% include 'js/tweet_feed/get_old_tweets.js' %}
        {% endif %}
    </script>

    {% from 'js/tweet_feed/get_campaign_data.html' import get_campaign_data_macro %}
    {{ get_campaign_data_macro(selected_campaign) }}

{% endblock %}