{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objects/campaign_dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/objects/feed_filters/tweet_score_slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/campaigns.css') }}">

    {# Tweet score slider imports #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 700,
                values: [0, 700],
                step: 50,
                slide: function (event, ui) {
                    document.getElementById('amount').innerText = ui.values[0] + " - " + ui.values[1]
                    startScore = ui.values[0]
                    endScore = ui.values[1]
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
    {#  #}


{% endblock %}

{% block body %}

    <script>
        // Initialising page

        let campaignId = '{{ selected_campaign }}'
        let isLive = '{{ is_live }}' === 'True' ? true : false

        let tweetLocker = "{{ campaign_locker }}".replace("[", "").replace("]", "").split(", ")
        let excludedTweets = "{{ campaign_excluded_tweets }}".replace("[", "").replace("]", "").split(", ")
    </script>

    <div id="lightbox-modal" class="modal">
        <div class="modal-background" style="backdrop-filter: blur(0px); cursor: pointer;" onclick="document.getElementById('lightbox-modal').classList.remove('is-active')"></div>
        <div class="modal-content">
            <p class="image">
                <img id="lightbox-image" src="https://bulma.io/images/placeholders/1280x960.png" alt=""
                     style="max-height: 90vh; width: auto; margin: auto; border-radius: 5px;">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="document.getElementById('lightbox-modal').classList.remove('is-active')"></button>
    </div>

    <div class="columns is-desktop is-gapless mb-0">

        <nav id="side-menu" class="column is-3 is-hidden-touch">
            {% include 'layouts/side_menu.html' %}
        </nav>

        <main class="column p-6" style="z-index: 0;">

            <section id="filter-section" class="section pt-5" style="position: fixed; top: 0; background: linear-gradient(180deg, #edeef1 35%, rgba(237,238,241,0.18) 60%, rgba(0,0,255,0)); width: -webkit-fill-available; padding-bottom: 100px; z-index: 100"> {# TODO Ensure this width setting has good browser compatability #}

                <div class="columns is-gapless is-multiline">

{#                    <div id="tweet-wall-controls" class="column">#}
                        {# include 'layouts/filter_control.html' #}
{#                        #}
{#                    </div>#}

                    <div class="column">
                        {% from 'objects/campaign_filters.html' import campaign_filters %}
                        {{ campaign_filters(all_campaigns, selected_campaign, is_live) }}
                    </div>

{#                    <div class="column">#}
{#                        {% from 'objects/campaigns/live_mode_toggle.html' import live_toggle %}#}
{#                        {{ live_toggle(is_live) }}#}
{#                    </div>#}

                    <div id="account" class="column" style="margin-top: -7px;">
                        {% include 'layouts/account.html' %}
                    </div>

{#                    <div class="column is-full">#}
{##}
{#                        {% from 'objects/keyword_selection.html' import keyword_filters %}#}
{#                        {{ keyword_filters() }}#}
{##}
{#                        {% from 'objects/feed_filters/tweet_score_slider.html' import tweet_score_slider %}#}
{#                        {{ tweet_score_slider() }}#}
{##}
{#                        {% from 'objects/feed_filters/date_range_selection.html' import date_range_selection %}#}
{#                        {{ date_range_selection() }}#}
{##}
{#                    </div>#}

                    <script>
                        {% include 'js/feed_filters/show_hide_filters.js' %}
                    </script>

                </div>
            </section>

            <section class="section mt-6">

                {% from 'pages/campaigns/OBJ_filter_summary.html' import filter_summary %}
                {{ filter_summary(campaign_name, campaign_tweet_count) }}

                {% if campaign_is_active %}
                    {% from 'pages/campaigns/historic/check_for_new_tweets.html' import check_for_new_tweets %}
                    {{ check_for_new_tweets() }}
                {% endif %}

                {% if is_live%}
                    {% if campaign_is_active %}
                        <div id="loading-dots" class="container is-fluid has-text-centered" style="margin-top: -1.0rem;" hidden>
                            <img src="{{ url_for('static', filename='/images/icons/loader-three-dots.gif') }}" style="height: 30px; opacity: 0.5;">
                        </div>
                    {% else %}
                        <section class="hero is-large has-text-centered">
                            <div class="hero-body m-auto" style="max-width: 800px;">
                                <p class="title is-size-3 mb-5 has-text-grey">
                                    Reactivate Campaign?
                                </p>
                                <p class="has-text-grey mb-5">
                                    This campaign is not currently capturing new tweets as it has been turned off. Would you like to reactivate this campaign?
                                </p>
                                <form action="#" method="post">
                                    <button class="button is-electric-blue" type="submit" name="submit" value="reactivate-campaign" onclick="">Reactivate</button>
                                </form>
                            </div>
                        </section>
                    {% endif %}
                {% else %}
                    {% from 'pages/campaigns/OBJ_pagination_bar.html' import pagination_bar %}
                    {{ pagination_bar() }}
                {% endif %}

                <div id="tweet-wall-results">

                    <div id="keyword-modal" class="modal" style="z-index: 100">
                        <div class="modal-background"></div>
{#                        <button class="modal-close is-large" aria-label="close"></button>#}
                    </div>

                    <section id="tweet-wall">
                        <div></div>
                    </section>
                </div>

            </section>

        </main>

    </div>

    {% include 'js/tweet_feed/campaign_selection_dropdowns.html' %}

    <script>
        // Lightbox code
        let lightboxImage = document.getElementById('lightbox-image')
        let lightboxModal = document.getElementById('lightbox-modal')
        function displayLightboxImage(src) {
            lightboxImage.src = src
            lightboxModal.classList.add('is-active')
        }
    </script>

    <script>
        {% include 'js/tweet_feed/tweet_locker.js' %}

        let tweets
        let nextPage

        let keywords = []
        let keywordInput = document.getElementById('new-search-words')

        let startDate = undefined
        let endDate = undefined

        let startDateElem = document.getElementById('start-date')
        let endDateElem = document.getElementById('end-date')

        let startScore, endScore
        let tweetCutoff
        let numTweets
        let numPages
        let ascending

        let liveMode = false
        let viewBusinesses, viewPrivateUsers = true

        {% include 'js/tweet_feed/tweet_filter.js' %}
        {% include 'js/campaigns/keywordsPopup.js' %}
        {% include 'pages/campaigns/excludeTweets.js' %}
        {% include 'js/tweet_feed/tweet_interactions.js' %}

        {% if is_live and campaign_is_active %}
            {% include 'js/tweet_feed/get_new_tweets.js' %}
        {% else %}
            {% include 'js/tweet_feed/get_old_tweets.js' %}
        {% endif %}
    </script>

    {% from 'js/tweet_feed/get_campaign_data.html' import get_campaign_data_macro %}
    {{ get_campaign_data_macro(selected_campaign) }}

{% endblock %}