<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
<link rel="stylesheet" href="/app/static/styles/layouts/base.css">

{% macro campaign_filters(all_campaigns, selected_campaign, is_live) %}
    <div class="columns is-variable is-2">

        {# Campaign selection #}
        <div class="column is-narrow">
            <div id="filter-set-dropdown" class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-small border-is-electric-blue is-hot-pink" aria-haspopup="true" aria-controls="dropdown-menu2" onclick="toggleDropdown()">
                        <span>Select Saved Campaign</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>

                <div class="dropdown-menu" id="dropdown-menu2" role="menu" style="overflow: hidden !important;">
                    <div class="dropdown-content border-is-electric-blue" style="max-height: 75vh; overflow-y: scroll; overflow-x: hidden;">

                        <span class="dropdown-item is-size-7 has-text-weight-bold has-text-grey" style="pointer-events: none">Active</span>
                        <hr class="dropdown-divider mt-0">

                        {% for campaign in all_campaigns %}
                            {% if campaign['is_active'] %}
                                <a class="dropdown-item" onclick="window.location.href = '{{ url_for('campaigns.view_campaign', campaign_id=campaign['id']) }}'">
                                    <span class="icon-text">
                                        <span class="icon is-size-7 mr-0">
                                            <i class="fas fa-circle has-text-success"></i>
                                        </span>
                                        <span>{{ campaign['name'] }}</span>
                                    </span>
                                </a>
                            {% endif %}
                        {% endfor %}

                        <span class="dropdown-item is-size-7 has-text-weight-bold has-text-grey mt-3" style="pointer-events: none">Inactive</span>
                        <hr class="dropdown-divider mt-0">

                        {% for campaign in all_campaigns %}
                            {% if not campaign['is_active'] %}
                                <a class="dropdown-item" onclick="window.location.href = '{{ url_for('campaigns.view_campaign', campaign_id=campaign['id']) }}'">
                                    <span class="icon-text">
                                        <span class="icon is-size-7 mr-0">
                                            <i class="fas fa-circle has-text-danger"></i>
                                        </span>
                                        <span>{{ campaign['name'] }}</span>
                                    </span>
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        {# Date range #}
        <div class="column is-narrow">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-small border-is-electric-blue has-text-info-dark" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Date Range</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu campaign-filter-field" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content p-3 border-is-electric-blue" style="width: 100vw; max-width: 300px;">
                        <h4 class="is-deep-purple subtitle has-text-weight-bold mb-2">Filter Dates</h4>
                        <div class="columns is-gapless">
                            <div class="column">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-calendar-alt is-hot-pink"></i>
                                    </span>
                                    <span>Start date</span>
                                </span>
                                <input type="date" id="start-date" style="border: none;" onchange="applyFilters()">
                            </div>
                            <div class="column is-narrow ml-3 mr-3" style="width: 1px; background: black;">
                            </div>
                            <div class="column">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-calendar-alt is-hot-pink"></i>
                                    </span>
                                    <span>End date</span>
                                </span>
                                <input type="date" id="end-date" style="border: none;" onchange="applyFilters()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            {#input[type="date"]::-webkit-inner-spin-button,#}
            {#input[type="date"]::-webkit-calendar-picker-indicator {#}
            {#    display: none;#}
            {#    -webkit-appearance: none;#}
            {#}#}
        </style>

        {# Keywords & Hashtags #}
        <div class="column is-narrow">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-small border-is-electric-blue has-text-info-dark" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Keywords</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu campaign-filter-field" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content p-3 border-is-electric-blue" style="width: 100vw; max-width: 300px;">
                        <h4 class="is-deep-purple subtitle has-text-weight-bold mb-2">Keyword Filter</h4>
                        <div class="field">
                            <p class="control has-icons-right">
                                <input id="new-search-words" class="input border-is-light-grey" style="background: whitesmoke;" type="text" placeholder="Search" autocomplete="off">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-search is-bright-orange"></i>
                                </span>
                            </p>
                        </div>
                        <div class="columns is-vcentered">
                            <div class="column has-text-right">
                                <a class="has-text-grey">
                                    <span class="is-size-7" onclick="keywords = []; applyFilters(undefined, undefined, [])">Remove all</span>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <button class="button is-electric-blue is-small is-rounded" onclick="applyFilters();">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let input = document.getElementById("new-search-words")

            // Execute a function when the user presses a key on the keyboard
            input.addEventListener("keypress", function (event) {
                // If the user presses the "Enter" key on the keyboard
                if (event.key === "Enter") {
                    applyFilters()
                }
            });
        </script>

        {# Tweet Score #}
        <div class="column is-narrow">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-small border-is-electric-blue has-text-info-dark" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Tweet Score</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu campaign-filter-field" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content p-3 border-is-electric-blue" style="width: 100vw; max-width: 300px;">
                        <h4 class="is-deep-purple subtitle has-text-weight-bold mb-2">Tweet Score Filter</h4>
                        <div class="pl-5 pr-5">
                            <p id="amount" class="has-text-centered is-size-3 has-text-weight-bold is-bright-orange">
                                0 - 700
                            </p>
                            <div id="slider-range"></div>
                            <div class="columns is-size-7 is-bright-orange">
                                <div class="column">
                                    100
                                </div>
                                <div class="column has-text-right">
                                    700
                                </div>
                            </div>
                        </div>
                        <style>
                            .ui-widget-header, .ui-slider-handle {
                                background: #617de1 !important;
                            }
                            .ui-slider-handle {
                                border-radius: 100%;
                                top: -2px !important;
                                height: 13px !important;
                                width: 13px !important;
                                border: none !important;
                            }

                            .ui-corner-all {
                                border-radius: 15px !important;
                            }

                            .ui-slider-range {
                                height: 7px !important;
                                top: 2px !important;
                            }
                        </style>
                        <div class="columns is-vcentered">
                            <div class="column has-text-right">
                                <a class="has-text-grey">
                                    <span class="is-size-7">Clear</span>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <button class="button is-electric-blue is-small is-rounded" onclick="applyFilters(); this.blur();">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-narrow">
            {% from 'pages/campaigns/OBJ_view_filters.html' import view_filters %}
            {{ view_filters(is_live) }}
        </div>

        <div class="column is-narrow">
            {% from 'pages/campaigns/OBJ_filter_sets.html' import filter_sets %}
            {{ filter_sets(selected_campaign) }}
        </div>

    </div>
{% endmacro %}