<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/app/static/styles/objects/feed_filters/tweet_score_slider.css">
<link rel="stylesheet" href="/app/static/styles/layouts/base.css">

{% macro tweet_score_slider() %}
    <div id="tweet-score-slider" class="container is-fluid bg-is-white border-is-electric-blue campaign-filter-field" style="border-radius: 10px; padding: 20px;" hidden>
        <div class="columns is-desktop">
            <div class="column is-narrow" style="max-width: 300px;">
                <h4 class="subtitle mb-1 is-deep-purple has-text-weight-bold">Twitter Score Filter</h4>
                <p>Our proprietary algorithm scores each Twitter account based on dozens of factors. This score provides an indication of the kind of impact the tweet is likely to have.</p>
            </div>
            <div class="column">
                <div class="p-3 bg-is-light-grey" style="height: 100%; border-radius: 10px; overflow: clip;">
                    <div id="form-wrapper" class="has-text-centered">
                        <form id="tweet-slider-form" action="/p/quote.php" method="GET">
                            <p id="form-title" class="mt-1 mb-4">What's the minimum Twitter account score you'd like to see?</p>
                            <div class="mb-5">
                                <output style="display: block;" class="subtitle is-size-3 mt-3 mb-2 has-text-weight-bold has-text-info">Show all</output>
                                <input id="tweet-score-limit" name="tweet-score-limit" type="range" value="0" min="0" max="700" step="50" checked onchange="this.previousElementSibling.value = this.value === '0' ? 'Show All' : this.value + '+'; applyFilters()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}